@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');


div {
    font-family: Arial, 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin-left: 60px;
}

h1, h4 {
    font-family: 'Lobster', cursive;
}

h1 {
    font-size: 25px;
    margin-left: 20px;
}

h4 {
    font-size: 18px;
    margin-left: 40px;
}